// PUT CUSTOM SCSS / SASS HERE

.full-w{
  width: 100%;
}

main{
  background: #1faf91;
  padding-bottom: 50px;
}

.margin-top{
  margin-top: 40px;
}

span.error{
  display: none !important;
}

.btn-large{
  margin-bottom: 25px;
}
